<% if current_user.present? %>
  <%= render template: 'messages/index' %>
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h2>Welcome to Verba!</h2>
    </div>
  </div>
<% end -%>
